.container {
  height: 100%;
  margin-top: 20%;
}

/*#my-box {
  width: 80%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 50px auto;
}
*/

div.panel {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 20px;
  margin: 0 auto;
  width: 75%;
}

#my-input {
  text-align: center;
}

@media all and (max-width: 64rem) {
  .main {
    max-width: 90%;
  }
}
